<!--
  Generated template for the ConsumerCredentialsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="activeCredential" *ngIf="schemas">
      <ion-segment-button *ngFor="let item of schemas" value="{{item.name}}" (tap)="contentChanged(item.name)">
        {{item.name.split("-").join(" ")}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>

  <div padding *ngIf="!schemas || !schemas.length" text-center margin="">
    <ion-spinner></ion-spinner>
  </div>

  <div *ngFor="let item of schemas">



    <ion-list *ngIf="item.name == activeCredential">

      <ion-item-group *ngFor="let cred of item.data; let i = index">
        <ion-item-divider color="light">
          # {{i + 1}}
          <button ion-button small clear item-end (click)="delete($event,item.name,cred.id)" color="danger" icon-left>
            <ion-icon name="trash"></ion-icon>
            delete
          </button>

        </ion-item-divider>
        <ion-item *ngFor="let field of item.fields">
          <h3>{{field.name.split("_").join(" ")}}</h3>
          <p>
            {{cred[field.name] || "-"}}
          </p>
          <button ion-button small clear item-end >
            copy
          </button>
        </ion-item>


      </ion-item-group>
    </ion-list>
  </div>

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="createItem()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
