<ion-header>

  <ion-navbar>
    <ion-title>Search {{provider.name}}</ion-title>
  </ion-navbar>
  <ion-searchbar
          [(ngModel)]="searchText"
          animated = true
          placeholder = "Start typing..."
          showCancelButton="true"
          (ionInput)="setFilteredItems()">
  </ion-searchbar>
</ion-header>


<ion-content>

  <h4 text-center="" padding="" margin="" *ngIf="busy">
    Loading data...
    <br>
    <br>
    <ion-spinner ></ion-spinner>
  </h4>

  <ion-list>
    <button  ion-item *ngFor="let item of filteredItems" (click)="onSelectItem(item)">
      <h2 *ngIf="provider.listFields[0]">{{item[provider.listFields[0]]}}</h2>
      <h3 *ngIf="provider.listFields[1]">{{item[provider.listFields[1]]}}</h3>
      <p>{{moment(item.created_at).format("dddd, MMMM Do YYYY, HH:mm")}}</p>
    </button>
  </ion-list>
</ion-content>
