<!--
  Generated template for the KongPluginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{pluginName.split("-").join(" ").toUpperCase()}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="save()" color="success">
        <ion-icon name="checkmark"></ion-icon>
      </button>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <form *ngIf="schema">

    <ion-item *ngIf="data.enabled !== undefined">
      <ion-label>Enabled</ion-label>
      <ion-toggle [(ngModel)]="data.enabled" name="enabled"></ion-toggle>
    </ion-item>

    <div *ngFor="let item of schema.fields | keys" [ngSwitch]="item.value.type">
      <ion-item *ngSwitchCase="'string'">
        <ion-label stacked>{{item.key.split("_").join(" ")}} <span *ngIf="item.value.required">*</span></ion-label>

        <!-- CASE ENUM -->
        <ion-select *ngIf="item.value.enum && item.value.enum.length" [(ngModel)]="item.value.value" name="{{item.key}}">
          <ion-option *ngFor="let option of item.value.enum">{{option}}</ion-option>
        </ion-select>

        <!-- CASE NOT ENUM -->
        <ion-input *ngIf="!item.value.enum" type="text" [(ngModel)]="item.value.value" name="{{item.key}}" [required]="item.value.required"></ion-input>
      </ion-item>

      <ion-item *ngSwitchCase="'number'">
        <ion-label stacked>{{item.key.split("_").join(" ")}} <span *ngIf="item.value.required">*</span></ion-label>
        <ion-input type="number" [(ngModel)]="item.value.value" name="{{item.key}}" [required]="item.value.required"></ion-input>
      </ion-item>

      <ion-item *ngSwitchCase="'boolean'">
        <ion-label>{{item.key.split("_").join(" ")}} <span *ngIf="item.value.required">*</span></ion-label>
        <ion-toggle [(ngModel)]="item.value.value" name="{{item.key}}"></ion-toggle>
      </ion-item>

      <ion-item *ngSwitchCase="'array'">
        <ion-label stacked>{{item.key.split("_").join(" ")}} <span *ngIf="item.value.required">*</span></ion-label>
        
        <!-- CASE ENUM -->
        <ion-select *ngIf="item.value.enum && item.value.enum.length" [(ngModel)]="item.value.value" multiple="true" name="{{item.key}}">
          <ion-option *ngFor="let option of item.value.enum">{{option}}</ion-option>
        </ion-select>

        <!-- CASE NOT ENUM -->
        <ion-input *ngIf="!item.value.enum" type="text" [(ngModel)]="item.value.value" name="{{item.key}}" [required]="item.value.required"></ion-input>
      </ion-item>

      <ion-item-group *ngSwitchCase="'table'">
        <ion-item-divider color="light">
          {{item.key.split("_").join(" ").toUpperCase()}}<br>
          <span class="text-muted">Add comma separated key:value pairs</span>
        </ion-item-divider>
        <ion-item-group *ngFor="let _item of item.value.schema.fields | keys">
          <ion-item>
            <ion-label stacked>{{_item.key}}</ion-label>
            <ion-input type="text" [(ngModel)]="_item.value.value" name="{{_item.key}}" placeholder="ex. k1:v1,k2:v2"></ion-input>
          </ion-item>
        </ion-item-group>
        <ion-item></ion-item>
      </ion-item-group>


    </div>

  </form>

</ion-content>
