<!--
  Generated template for the KongPluginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{pluginName.split("-").join(" ").toUpperCase()}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="save()" color="success">
        {{data.api_id ? "Update" : "Add Plugin"}}
      </button>
      <button ion-button  (click)="closeModal()">
        Close
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <div padding *ngIf="pluginCustomData" class="bg-light text-muted text-sm" [innerHTML]="pluginCustomData.meta.description">
  </div>

  <form *ngIf="schema">

    <ion-item *ngIf="data.enabled !== undefined">
      <ion-label>Enabled</ion-label>
      <ion-toggle [(ngModel)]="data.enabled" name="enabled"></ion-toggle>
    </ion-item>

    <ion-item *ngIf="!schema.no_consumer">
      <ion-label stacked>Consumer id</ion-label>
      <ion-input [(ngModel)]="data.consumer_id" name="consumer_id"></ion-input>
    </ion-item>

    <div *ngFor="let item of schema.fields | keys" [ngSwitch]="item.value.type">
      <ion-item *ngSwitchCase="'string'">
        <ion-label stacked>{{item.key.split("_").join(" ")}} <span *ngIf="item.value.required">*</span></ion-label>

        <!-- CASE ENUM -->
        <ion-select *ngIf="item.value.enum && item.value.enum.length" [(ngModel)]="data.config[item.key]" name="{{item.key}}">
          <ion-option *ngFor="let option of item.value.enum">{{option}}</ion-option>
        </ion-select>

        <!-- CASE NOT ENUM -->
        <ion-input *ngIf="!item.value.enum" type="text" [(ngModel)]="data.config[item.key]" name="{{item.key}}" [required]="item.value.required"></ion-input>
      </ion-item>

      <ion-item *ngSwitchCase="'number'">
        <ion-label stacked>{{item.key.split("_").join(" ")}} <span *ngIf="item.value.required">*</span></ion-label>
        <ion-input type="number" [(ngModel)]="data.config[item.key]" name="{{item.key}}" [required]="item.value.required"></ion-input>
      </ion-item>

      <ion-item *ngSwitchCase="'url'">
        <ion-label stacked>{{item.key.split("_").join(" ")}} <span *ngIf="item.value.required">*</span></ion-label>
        <ion-input type="url" [(ngModel)]="data.config[item.key]" name="{{item.key}}" [required]="item.value.required"></ion-input>
      </ion-item>

      <ion-item *ngSwitchCase="'boolean'">
        <ion-label>{{item.key.split("_").join(" ")}} <span *ngIf="item.value.required">*</span></ion-label>
        <ion-toggle [(ngModel)]="data.config[item.key]" name="{{item.key}}"></ion-toggle>
      </ion-item>

      <ion-item *ngSwitchCase="'array'">
        <ion-label stacked>{{item.key.split("_").join(" ")}} <span *ngIf="item.value.required">*</span></ion-label>
        
        <!-- CASE ENUM -->
        <ion-select *ngIf="item.value.enum && item.value.enum.length" [(ngModel)]="data.config[item.key]" multiple="true" name="{{item.key}}">
          <ion-option *ngFor="let option of item.value.enum">{{option}}</ion-option>
        </ion-select>

        <!-- CASE NOT ENUM -->
        <ion-input *ngIf="!item.value.enum" type="text" [(ngModel)]="data.config[item.key]" name="{{item.key}}" [required]="item.value.required"></ion-input>
      </ion-item>

      <ion-item-group *ngSwitchCase="'table'">
        <ion-item-divider color="light">
          {{item.key.split("_").join(" ").toUpperCase()}}<br>
          <span class="text-muted">Add comma separated key:value pairs</span>
        </ion-item-divider>
        <ion-item-group *ngFor="let _item of item.value.schema.fields | keys">
          <ion-item>
            <ion-label stacked>{{_item.key}}</ion-label>
            <ion-input type="text" [(ngModel)]="data.config[item.key][_item.key]"
                       name="{{_item.key}}" placeholder="ex. k1:v1,k2:v2"></ion-input>
          </ion-item>
        </ion-item-group>
        <ion-item></ion-item>
      </ion-item-group>

      <ion-item *ngSwitchDefault>
        <ion-label stacked>{{item.key.split("_").join(" ")}} <span *ngIf="item.value.required">*</span></ion-label>

        <!-- CASE ENUM -->
        <ion-select *ngIf="item.value.enum && item.value.enum.length" [(ngModel)]="data.config[item.key]" name="{{item.key}}">
          <ion-option *ngFor="let option of item.value.enum">{{option}}</ion-option>
        </ion-select>

        <!-- CASE NOT ENUM -->
        <ion-input *ngIf="!item.value.enum" type="text" [(ngModel)]="data.config[item.key]" name="{{item.key}}" [required]="item.value.required"></ion-input>
      </ion-item>


    </div>

  </form>
  <div padding></div>

</ion-content>
